<div style="background:transparent !important" class="jumbotron">
    <form #carteiraForm="ngForm" (ngSubmit)="salvarValor()">
        <div class="row justify-content-center">
            <div class="col-sm-9">
                <h1 class="display-4">Cadastro de produtos</h1>
                <p class="lead">Controle de estoque! 💲</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Quantidade</span>
                    </div>
                    <input name="qtd" class="form-control" type="number" [(ngModel)]="carteira.qtd"
                        #qtd="ngModel" required>

                    <select class="form-control" id="moneyOption" name="caixa" [(ngModel)]="carteira.caixa"
                        #caixa="ngModel" required>
                        <option disabled selected value> Fluxo de Caixa </option>
                        <option>Entrada</option>
                        <option>Saída</option>
                        <option>qtd</option>

                    
                    </select>
                </div>
                <div class="form-group">
                    <label for="descricao">Nome <em>*</em></label>
                    <input type="email" name="nome" class="form-control" id="nome" placeholder="Digite seu nome"
                        [(ngModel)]="carteira.nome" #descricao="ngModel" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Telefone <em>*</em></label>
                    <input type="email" name="fone" class="form-control" id="fone" placeholder="Digite seu telefone"
                        [(ngModel)]="carteira.fone" #descricao="ngModel" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição do produto <em>*</em></label>
                    <input type="email" name="descricao" class="form-control"  placeholder="Digite a descrição do produto"
                        [(ngModel)]="carteira.descricao" #descricao="ngModel" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Quantidade <em>*</em></label>
                    <input type="email" name="qtd" class="form-control"  placeholder="Digite a Quantidade"
                        [(ngModel)]="carteira.qtd" #qtd="ngModel" required>
                </div>
                <div class="form-group">
                    <label for="data_valor">Data <em>*</em></label>
                    <input class="form-control" name="data_valor" type="date" id="data_valor"
                        [(ngModel)]="carteira.data_valor" #data_valor="ngModel" required 
                        min='2021-01-01' onkeydown="return false">
                </div>

                <div class="d-flex justify-content-end">
                    <p class="lead">
                        <input class="btn btn-success btn-sm" type="submit" value="Salvar"
                            [disabled]="carteiraForm.invalid">
                    </p>
                </div>
            </div>
            <div class="col-lg-5 table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Fone</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Data</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let index of carteiras">
                            <td>{{index.caixa}}</td>
                            <td>{{index.nome}}</td>
                            <td>{{index.fone}}</td>
                            <td>{{index.descricao}}</td>
                            <td>{{index.qtd}}</td>
                            <td>{{index.data_valor | date: 'dd/MM/yyyy'}}</td>
                            <td><i class="bi bi-pen" (click)="editarRegistro(index.id)"> </i> | <i
                                    class="bi bi-x-circle" (click)="deletaRegistro(index)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <app-bars-chart></app-bars-chart>
        </div>
        
        <div class="col-lg-2 mr-3">
            <app-pie-chart></app-pie-chart>
        </div>
        <div class='col-lg-2'></div>
    </div>
</div>